.state-group {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.state-group.hovered {
    z-index: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: translateX(1px) translateY(-1px);
}

