.powerplay-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.div1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: var(--spacing-large);
    margin-top: var(--spacing-large);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-large);
    background: #fff;
    width: 50%;
    height: 50%;
    display: flex;
}


.div1 button {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-body);
    color: var(--body-color);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: var(--spacing-x-small);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: var(--spacing-xx-small);
}


.div2 {
    grid-area: 1 / 4 / 2 / 5;
}

.div3 {
    grid-area: 4 / 4 / 5 / 5;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}

.div5 {
    grid-area: 2 / 2 / 4 / 4;
    transform: translateX(-10%);
}

.div6 {
    grid-area: 1 / 2 / 2 / 4;
}


.div7 {
    grid-area: 2 / 4 / 4 / 5;
}

.div8 {
    grid-area: 4 / 2 / 5 / 4;
}

.div9 {
    grid-area: 2 / 1 / 4 / 2;
}

.div10 {
    grid-area: 1 / 4 / 6 / 5;
}

.div6--title {
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-headline);
    color: var(--headline-color);
    text-align: center;
    margin-top: var(--spacing-large);
    text-transform: uppercase;
    text-decoration: underline;
}