.newspaper-container {
    padding: var(--spacing-large);
    background-color: var(--background-wood);
    display: flex;
    justify-content: center;
}

.newspaper {
    box-shadow: var(--box-shadow);
    padding: var(--spacing-medium);
    background-color: var(--background-paper);
    max-width: 1000px;
}

.newspaper>*:not(:last-child) {
    border-bottom: 2px double var(--border-separator-line);
    margin-bottom: var(--spacing-large);
}