/* Reset common elements and properties */
html,
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
pre {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Global styles */
:root {
    /* Typography */
    --font-family-headline: 'Oswald', sans-serif;
    --font-family-body: 'Libre Baskerville', serif;
    --headline-color: #752522;
    --subheading-color: #6e764b;
    --callout-color: #305955;
    --hyperlink-color: #324a63;
    --text-color: #333333;

    --font-family-emoji: 'Noto Color Emoji', sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-xx-small: 0.625rem;
    --font-size-x-small: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-x-large: 1.5rem;
    --font-size-xx-large: 2rem;
    --font-size-xxx-large: 3rem;

    /* Colors: Brand */
    --color-primary: #3f51b5;
    --color-secondary: #f44336;

    /* Colors: Semantic */
    --color-success: #4caf50;
    --color-warning: #ffc107;
    --color-confirmation: #2196f3;
    --color-error: #e91e63;
    --color-text: #333;
    --color-background: #ffffff;

    /* Shadows and Borders */
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-large: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 5px;

    /* Breakpoints */
    --breakpoint-small: 480px;
    --breakpoint-tablet: 768px;

    /* Spacing */
    --spacing-xx-small: 0.25rem;
    --spacing-x-small: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-x-large: 2rem;
    --spacing-xx-large: 3rem;

    /* Paper Tones */
    --background-paper: #f0eae1;
    --background-paper-highlight: #f5f0e9;
    --background-wood: #deb887;

    /* Highlight Colors */
    --headline-highlight: #752522;
    --subheading-highlight: #6e764b;
    --callout-accent: #305955;
    --hyperlink-color: #324a63;

    /* Page Elements */
    --border-separator-line: #a19377;
    --icon-color: #333333;
    --emphasis-color: #d9bf77;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Layout */
html,
body {
    background: var(--background-paper);
}
